@import '@/app/css/mixins.scss';

.wrapper {
  @include flex(column, 16px);

  h5 {
    font-size: 25px;
    color: var(--color-primary);
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 1100px) {
    h5 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
